{% extends "base.html" %}

{% block lab %}Редактирование профиля{% endblock %}

{% block main %}
    <h1>Редактирование данных</h1>
    <form method="POST" action="/lab4/save_user">
        <input type="hidden" name="login" value="{{ user.login }}">
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" class="inputC">
        </div>
        <div>
            <label for="password">Новый пароль:</label>
            <input type="password" id="password" name="password" class="inputC">
        </div>
        <div>
            <button type="submit" class="button">Сохранить</button>
            <a href="/lab4/users" class="button">Отмена</a>
        </div>
    </form>
{% endblock %}


