{% extends "base.html" %}

{% block lab %}Страница холодильника{% endblock %}

{% block main %}
    <h1>Настройка температуры холодильника</h1>

    <form method="post">
        <label for="temperature">Температура (°С):</label>
        <input type="number" class="inputC" id="temperature" name="temperature" placeholder="Введите температуру">
        <button type="submit" class="button">Установить</button>
    </form>

    <div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% elif temperature_message %}
            <p>{{ temperature_message }}</p>
            <p style="font-size: 2em;">{{ snowflakes }}</p>
        {% endif %}
    </div>
{% endblock %}
