{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    {% if authorized %}
        <h1>Добро пожаловать, {{ login }}!</h1>
        <div>
            <form action="/lab4/logout" method="post">
                <button class="button">Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" class="inputC" id="login" name="login" value='{{ login }}'>
                <span class="error">{{errors.login}}</span>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" class="inputC" id="password" name="password">
            </div>
            <div> {{ error }}</div>
            <div>
                <button type="submit" class="button">Войти</button>
                <button type="reset" class="button">Отмена</button>
            </div>
        </form>
    {% endif %}
{% endblock %}