{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    {% if authorized %}
        <h1>Добро пожаловать, {{ user_name }}!</h1>  <!-- Выводим имя пользователя -->
        <div>
            <form action="/lab4/logout" method="post" class="form-reg">
                <button class="button button-users">Выход</button>
            </form>
            <!-- Кнопка перехода на страницу со списком пользователей -->
            <form action="/lab4/users" method="get" style="display: inline;" class="form-reg">
                <button class="button button-users" style="width: 250px;">Все пользователи</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" class="inputC" id="login" name="login" value="{{ request.form.get('login', '') }}">
                {% if errors.get('login') %}
                    <span class="error">{{ errors.get('login') }}</span>
                {% endif %}
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" class="inputC" id="password" name="password">
                {% if errors.get('password') %}
                    <span class="error">{{ errors.get('password') }}</span>
                {% endif %}
            </div>
            <div>{{ error }}</div>
            <div>
                <button type="submit" class="button button-users">Войти</button>
                <button type="reset" class="button button-users">Отмена</button>
                <a href="../lab4/register">
                    <button type="button" class="button button-users" style="width: 150px;">Регистрация</button>
                </a>
            </div>
        </form>
    {% endif %}

{% endblock %}
