{% extends "base.html" %}

{% block lab %}Нравится/не нравится{% endblock %}

{% block main %}
   <div>
        Посажено деревьев: {{ tree_count }}
   </div>
   {% if tree_count < 0 %}
    <form method="post">
        <button class="button" name="operation" value="plant">Посадить дерево</button>
        <button class="button" name="operation" value="cut" disabled>Срубить дерево</button>
    </form>
    {% elif tree_count >= 10 %}
    <form method="post">
        <button class="button" name="operation" value="plant" disabled>Посадить дерево</button>
        <button class="button" name="operation" value="cut">Срубить дерево</button>
    </form>
    {% else %}
    <form method="post">
        <button class="button" name="operation" value="plant">Посадить дерево</button>
        <button class="button" name="operation" value="cut">Срубить дерево</button>
    </form>
    {% endif %}

   
{% endblock %}