<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{name}}. 
        {% else %}
            Анонимус. 
        {% endif %} 
        Лабораторная работа {{numberOfLab}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="header">
            WEB-программирование, часть 2. {% if numberOfLab %}Лабораторная работа {{numberOfLab}}{% endif %}
        </div>
    </header>

    <div>
        <a href="/menu">
            <img src="../static/strelka.png" class='strelka'>
        </a>
        <a href="/menu" class='backmenu'>Вернуться в меню</a>
    </div>
    <main class="math">
        5 + 2 = {{5 + 2}}<br>
        11 * 28 = {{11*28}}<br>
        3258 - 759 = {{3258-759}}<br>
        8452 / 793 = {{8452 / 793}}<br>
        45<sup>8</sup> = {{48 ** 8}}<br>
        <ul>
            {% for f in fruits %}
            <li>{{ loop.index}} - {{f.name}}: {{f.price}} &#x20bd</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy;
        {% if name %}
            {{name}},
        {% else %}
            Анонимус,
        {% endif %}
        {% if groupStudent %}
            {{groupStudent}},
        {% else %}
            Группа не указана,
        {% endif %}
        {% if numberOfCourse %}
            {{numberOfCourse}},
        {% else %}
            Курс неизвестен,
        {% endif %}
        2024
    </footer>
    
</body>
</html>