{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}


{#основной контент: #}
{% block main %}
    <h1>Cookies</h1>
    <form>
        <div>
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>
        <br>
        <div>
            <label for="bgcolor">Выберите цвет фона:</label>
            <input type="color" id="bgcolor" name="bgcolor" value="{{ bgcolor or '' }}">
        </div>
        <br>
        <div>
            <label for="fontSyze">Выберите размер шрифта:</label>
            <input type="text" id="fontSyze" name="fontSyze" value="{{ fontSyze or '' }}">
        </div>
        <br>
        <div>
            <label for="fontStyle">Выберите стиль шрифта:</label>
                <select name="fontStyle" id="fontStyle">
                    <option value="normal" {% if fontStyle == 'normal' %}selected{% endif %}>normal</option>
                    <option value="italic" {% if fontStyle == 'italic' %}selected{% endif %}>italic</option>
                    <option value="oblique" {% if fontStyle == 'oblique' %}selected{% endif %}>oblique</option>
                </select>
        </div>
        <br>
        <div>
            <button class="button" type="submit">ОК</button>
        </div>
    </form>
    <br>

{% endblock %}