{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}



{#основной контент: #}
{% block main %}

    <h1>Оплата прошла успешно</h1>
    <h2>Спасибо! Ваш заказ оплачен на сумму {{price}} ₽</h2>

    
    <a href="/lab3/order">Назад</a> <br><br>

    <div>
        <a href="/menu">
            <img src="../static/strelka.png" class='strelka'>
        </a>
        <a href="/menu" class='backmenu'>Вернуться в главное меню</a>
    </div>
{% endblock %}